.footer-container {
  margin-bottom: 6rem;
}

.line {
  width: 100%;
  height: 0.1rem;
  background-color: #4a4949;
  margin-bottom: 3rem;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.3);
}

.footer-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}

.rate {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
  cursor: pointer;
}

.rate-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: #8a8a8a;
}

.emogi {
  font-size: 2.5rem;
}

.left-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.text {
  margin-right: 30px;
  text-align: center;
  font-size: 1.2rem;
  color: #8a8a8a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

img {
  height: 40px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}
