<div class="footer-container">
  <div class="line"></div>
  <div class="footer-text">
    <div class="rate" routerLink="/rate" >
      <div class="rate-text">RATE MY PROFILE</div>
      <div class="emogi">🥹</div>
    </div>
    <div class="left-footer">
      <div class="text">
        <div class="t1">Terms & Conditions | Privacy Policy</div>
        <div class="t2">© 2025 Marsha. All rights reserved.</div>
      </div>
      <div class="image">
        <img src="assets/logo.png" />
      </div>
    </div>
  </div>
</div>
