<div class="footer-container">
  <div class="line"></div>
  <div class="footer-text">
    <div class="funline">
      <div class="rate" routerLink="/rate">
        <div class="rate-text">Drop a ⭐ if it slaps</div>
        <div class="arrow">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <h3>This is the part where I ask for 💸, but I won&apos;t. (¬‿¬)</h3>
    </div>

    <div class="left-footer">
      <div class="text">
        <div>Terms & Conditions | Privacy Policy</div>
        <div>© 2025 Marsha. All rights reserved.</div>
      </div>
      <div class="image">
        <img src="assets/logo.png" />
      </div>
    </div>
  </div>
</div>
