<div class="light-rays">
  <div class="ray db" style="--angle: -90deg"></div>
  <div class="ray lb" style="--angle: -67.5deg"></div>
  <div class="ray wh" style="--angle: -45deg"></div>
  <div class="ray db" style="--angle: -22.5deg"></div>
  <div class="ray lb" style="--angle: 0deg"></div>
  <div class="ray wh" style="--angle: 22.5deg"></div>
  <div class="ray db" style="--angle: 45deg"></div>
  <div class="ray lb" style="--angle: 67.5deg"></div>
  <div class="ray wh" style="--angle: 90deg"></div>
</div>
