<div class="loader" *ngIf="isLoading">
  <app-loader></app-loader>
</div>
<div class="landing-container" *ngIf="!isLoading">
  <div class="light-container">
    <app-spotlight></app-spotlight>
  </div>
  <div class="navbar">
    <app-navbar></app-navbar>
  </div>
  <h1 class="intro-text">
    I am Marsha — A
    <span class="intro-text" id="highlight">creative</span>
    developer who thinks like a designer and builds like an engineer.
  </h1>
  <p class="sub-text" id="sub-line"></p>
  <div class="black-overlay"></div>
  <div class="scroll-indicator">
    <svg
      class="triangle"
      viewBox="0 0 100 100"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M20 35
         Q21 30 25 30
         H75
         Q79 30 80 35
         L55 70
         Q50 75 45 70
         L20 35
         Z"
        fill="white"
      />
    </svg>
  </div>
</div>
