.navbar {
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-right: 80px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

a:hover {
  color: #54d688;
}

.hamburger {
  position: absolute;
  z-index: 1001;
  display: none;
  top: 0;
  right: 0;
  height: 100px;
  width: 100px;
}

.small-screens {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 20px;
  right: 30px;
  background-color: #121212;
  padding: 30px 45px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.small-screens > span {
  margin: 10px 0;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}

.small-screens > span > a:hover {
  color: #54d688;
}

.show {
  display: flex;
}

@media screen and (max-width: 995px) {
  .navbar {
    .nav-links {
      display: none;
    }

    .hamburger {
      display: flex;
    }
  }
}
