<div class="navbar">
  <div class="nav-links large-screens">
    <span> <a routerLink="/about"> About </a> </span>
    <span> <a routerLink="/work"> Work </a> </span>
    <span> <a routerLink="/certs"> Certifications </a> </span>
    <span> <a routerLink="/experience"> Experience </a> </span>
    <span> <a routerLink="/contact"> Contact </a> </span>
  </div>

  <div class="hamburger">
    <app-hamburger (click)="toggleMenu()" />
  </div>

  <div class="small-screens" [class.show]="menuOpen">
    <span> <a routerLink="/about">About</a> </span>
    <span> <a routerLink="/work">Work</a> </span>
    <span> <a routerLink="/certs"> Certifications </a> </span>
    <span> <a routerLink="/experience"> Experience </a> </span>
    <span> <a routerLink="/contact">Contact</a> </span>
  </div>
</div>
