<div class="navbar">
  <div class="nav-links large-screens">
    <span class="home"> <a href=""> Home </a> </span>
    <span> <a href=""> About </a> </span>
    <span> <a href=""> Work </a> </span>
    <span> <a href=""> Contact </a> </span>
  </div>

  <div class="hamburger">
    <app-hamburger (click)="toggleMenu()" />
  </div>

  <div class="small-screens" [class.show]="menuOpen">
    <span> <a href="">Home</a> </span>
    <span> <a href="">About</a> </span>
    <span> <a href="">Work</a> </span>
    <span> <a href="">Contact</a> </span>
  </div>
</div>
