<div class="projects-container">
  <h2 class="section-heading" routerLink="/work">Projects</h2>
  <div class="project-card">
    <div class="project-image">
      <img src="assets/projects/flavorique.png" alt="Flavorique" />
    </div>

    <div class="project-content">
      <h3 class="project-title" routerLink="/work">Flavorique</h3>
      <p class="project-description">
        A recipe-sharing platform that lets users discover, post and edit
        recipes. Built with MEAN stack and designed for intuitive browsing.
      </p>

      <div class="tech-stack">
        <span>MongoDB</span>
        <span>Express</span>
        <span>Angular</span>
        <span>Node.js</span>
      </div>

      <div class="project-links">
        <a id="code-link" href="https://github.com/04Marsha/Flavorique">Code</a>
        <a id="website-link" href="https://04marsha.github.io/Flavorique/"
          >Demo</a
        >
      </div>
    </div>
  </div>
</div>
