<div class="projects-container">
  <h2 class="section-heading">Projects</h2>

  <div class="project-card">
    <div class="project-image">
      <img src="/flavorique.png" alt="Flavorique" />
    </div>

    <div class="project-content">
      <h3 class="project-title">Flavorique</h3>
      <p class="project-description">
        A recipe-sharing platform that lets users discover, post and edit
        recipes. Built with MEAN stack and designed for intuitive browsing.
      </p>

      <div class="tech-stack">
        <span>MongoDB</span>
        <span>Express</span>
        <span>Angular</span>
        <span>Node.js</span>
      </div>

      <div class="project-links">
        <a id="code-link" href="https://github.com/04Marsha/Flavorique">Code</a>
        <a
          id="website-link"
          href="http://flavorique.s3-website.eu-north-1.amazonaws.com/"
          >Demo</a
        >
      </div>
    </div>
  </div>

  <div class="project-card">
    <div class="project-image">
      <img src="/flavorique.png" alt="KrishiConnect" />
    </div>

    <div class="project-content">
      <h3 class="project-title">KrishiConnect</h3>
      <p class="project-description">
        A simple and user-friendly web app that helps farmers connect directly
        with sellers. It makes buying and selling produce easier by removing
        middlemen and letting users list and explore products in real-time.
      </p>

      <div class="tech-stack">
        <span>MongoDB</span>
        <span>Express</span>
        <span>Angular</span>
        <span>Node.js</span>
      </div>

      <div class="project-links">
        <a id="code-link" href="https://github.com/04Marsha/Flavorique">Code</a>
        <a
          id="website-link"
          href="http://flavorique.s3-website.eu-north-1.amazonaws.com/"
          >Demo</a
        >
      </div>
    </div>
  </div>
</div>
