<div class="loader" *ngIf="isLoading">
  <app-loader />
</div>
<section class="work-section" *ngIf="!isLoading">
  <a class="back-button" routerLink="/">
    <i class="fas fa-arrow-left"></i>
  </a>
  <h2 class="section-title">Work</h2>

  <div class="projects-grid">
    <div class="project-card">
      <div class="project-video">
        <video
          src="assets/projects_videos/flavorique.mp4"
          alt="Flavorique Project"
          autoplay
          loop
          muted
          playsinline
          style="width: 100%; height: auto; border-radius: 8px"
        ></video>
      </div>
      <div class="project-info">
        <h3 class="project-title">Flavorique</h3>
        <div class="tech-stack">
          <span>MongoDB</span>
          <span>Express.js</span>
          <span>Angular</span>
          <span>Node.js</span>
        </div>
        <p class="project-description">
          Flavorique is a full-stack MEAN web application that allows users to
          explore, post, and manage their uploaded recipes. The platform
          includes user authentication, recipe creation and editing, image
          upload support, and category-based browsing. Visitors view and add
          recipes to cart. The intuitive interface ensures smooth navigation,
          making it easy to discover and share delicious ideas with a wider
          community.
        </p>
        <div class="project-links">
          <a href="https://04marsha.github.io/Flavorique/" target="_blank"
            >Live Demo</a
          >
          <a href="https://github.com/04Marsha/Flavorique">Code</a>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="projects-grid">
    <div class="project-card">
      <div class="project-image">
        <img src="projects/flavorique.png" alt="Flavorique Project" />
      </div>
      <div class="project-info">
        <h3 class="project-title">Flavorique</h3>
        <p class="project-description">
          A modern recipe management app with meal planning, search, and sharing
          features.
        </p>
        <div class="tech-stack">
          <span>Angular</span>
          <span>TypeScript</span>
          <span>Node.js</span>
          <span>MongoDB</span>
        </div>
        <div class="project-links">
          <a href="https://flavorique.live" target="_blank">Live Demo</a>
          <a href="https://github.com/yourname/flavorique" target="_blank"
            >Code</a
          >
        </div>
      </div>
    </div>
  </div> -->
</section>
