<div class="loader" *ngIf="isLoading">
  <app-loader />
</div>
<section class="certificates" *ngIf="!isLoading">
  <a class="back-button" routerLink="/">
    <i class="fas fa-arrow-left"></i>
  </a>
  <h1>Certifications</h1>

  <h2>Internships</h2>
  <div class="certificate-list">
    <div
      class="certificate-card"
      *ngFor="let cert of internshipCertificates"
      (click)="openModal(cert.imageUrl, cert.title)"
    >
      <img [src]="cert.imageUrl" [alt]="cert.title" />
      <div class="info">
        <h2>{{ cert.title }}</h2>
        <p>{{ cert.description }}</p>
      </div>
    </div>
  </div>

  <h2 id="extra-margin">Courses</h2>
  <div class="certificate-list">
    <div
      class="certificate-card"
      *ngFor="let cert of certificates"
      (click)="openModal(cert.imageUrl, cert.title)"
    >
      <img [src]="cert.imageUrl" [alt]="cert.title" />
      <div class="info">
        <h2>{{ cert.title }}</h2>
        <p>{{ cert.description }}</p>
      </div>
    </div>
  </div>

  <div class="modal-overlay" *ngIf="modalOpen" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <span class="close-btn" (click)="closeModal()">×</span>
      <img [src]="modalImage" [alt]="modalTitle" />
      <p>{{ modalTitle }}</p>
    </div>
  </div>
</section>
