<div class="loader" *ngIf="isLoading">
  <app-loader></app-loader>
</div>
<section class="about-container" *ngIf="!isLoading">
  <div class="about-text">
    <h1>Hey there, I&rsquo;m Marsha</h1>
    <p>
      
    </p>
    <p>
      
    <p>
      
    </p>
  </div>

  <aside class="about-sidebar">
    <img
      src="me.jpg"
      alt="Marsha Profile"
      class="profile-photo"
    />
    <div class="contact-info">
      <p><strong>Email</strong><br />marshasharma2004&#64;gmail.com</p>
      <p><strong>Location</strong><br />Durgapur, West Bengal</p>
    </div>
  </aside>
</section>
