:host {
  display: block;
  color: white;
  background-color: #000000;
  padding-bottom: 60px;
}

.certificates-section {
  text-align: center;
  background: #000000f1;
  color: white;
}

.section-heading {
  font-size: 3rem;
  margin-bottom: 80px;
  font-weight: 300;
}

.carousel {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.carousel-track-container {
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.carousel-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
  position: relative;
}

.carousel-slide {
  min-width: 100%;
  transition: opacity 0.5s;
}

.carousel-slide > img {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #e84393;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.prev {
  left: -40px;
}

.next {
  right: -40px;
}

.carousel-nav {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.carousel-indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #555;
  border: none;
  cursor: pointer;
}

.carousel-indicator.current-slide {
  background-color: #e84393;
}

@media (max-width: 768px) {
  .certificates-section {
    padding: 60px 20px;
  }

  .carousel .nav.prev {
    left: 5px;
  }

  .carousel .nav.next {
    right: 5px;
  }
}

@media (max-width: 576px) {
  .certificates-section {
    padding: 20px 20px;
  }
  .section-heading {
    font-size: 1.7rem;
  }
}
