* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  /* background-color: #0e0e0e; */
  background-color: #000000;
  font-family: "Work Sans";
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

