<section class="certificates-section">
  <h2 class="section-heading">Profiles</h2>
  <ul>
    <li>
      <a href="https://github.com/04Marsha">
        <i class="fab fa-brands fa-github icon"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/marsha-sharma-8b99b42b5/"
        ><i class="fab fa-linkedin-in icon"></i
      ></a>
    </li>
    <li>
      <a href="https://leetcode.com/u/04Marsha/"
        ><img src="/icons/leetcode-icon.ico" class="icon"
      /></a>
    </li>
  </ul>
</section>
