:host {
  display: block;
  color: white;
  background-color: #000000f1;
  padding-bottom: 60px;
  padding-top: 70px;
}

.certificates-section {
  text-align: center;
  background: #000000f1;
  color: white;

  .section-heading {
    font-size: 3rem;
    margin-bottom: 80px;
    font-weight: 300;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul li {
    list-style: none;

    &:nth-child(1) {
      a {
        &::before {
          background: #5c3382;
        }
      }
    }

    &:nth-child(2) {
      a {
        &::before {
          background: #55acee;
        }
      }
    }

    &:nth-child(3) {
      a {
        &::before {
          background: #ffa217;
        }
      }
    }

    &:nth-child(4) {
      a {
        &::before {
          background: #49a34e;
        }
      }
    }
  }

  ul li a {
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 40px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      background: white;
      transition: 0.5s;
      z-index: 2;
    }

    &:hover {
      &::before {
        top: 0;
      }
    }
  }

  ul li a .icon {
    position: relative;
    color: #262626;
    transition: 0.5s;
    z-index: 3;
  }

  ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
}
// @media (max-width: 992px) {
//   .certificates-section {
//     .section-heading {
//       font-size: 2.5rem; // Slightly reduce heading size
//       margin-bottom: 60px;
//     }

//     ul {
//       flex-wrap: wrap; // Allow items to wrap to the next line
//       padding: 0 20px; // Add some horizontal padding
//     }

//     ul li a {
//       width: 70px; // Slightly smaller icons
//       height: 70px;
//       line-height: 70px;
//       font-size: 30px;
//       margin: 0 20px 30px;
//     }
//   }
// }

@media (max-width: 576px) {
  :host {
    padding-bottom: 30px;
  }

  .certificates-section {
    .section-heading {
      font-size: 1.7rem;
      margin-bottom: 40px;
    }

    ul {
      flex-direction: column;
    }

  }
}